:root{
    --colorPrimary: #f15c2c;
    --colorPrimaryLight: #f15c2c99;
}

.header,
.fixedHeader{
    padding: 0px;
}

/*h1 {*/
/*    font-size: 54px;*/
/*    line-height: 68px;*/
/*    color: var(--colorBlack);*/
/*    font-family: var(--black);*/
/*}*/
/**/
.supportLeft{
    width: 50% !important;
}
.supportRight{
    position: absolute;
    right: 0;
    width: 600px;
    height: 402px;
}
.webpart{
    display: flex;
    flex-wrap: wrap;
}
.webpartInner{
    width: 22%;
}
.foodxWorld{
    margin-top: 75px;    
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link{
    background-color: #e6ece0;
}
.nav-tabs .nav-link.active {
    border-radius: 4px;
    background-color: #5fb709;
    color: #fff;
}
.productWebLogo{
    padding-bottom: 40px;
}


/*Grocesx Style*/
.aboutAppInChild{
    display: flex;
}
.aboutAppRight{
    display: flex;
    flex-wrap: wrap;
}
.deliverySetUp{
    margin-bottom: 40px;
}
/*.deliverySetUp:nth-last-child(-n+2){*/
/*    margin-bottom: 0px;*/
/*}*/
.grocerxBanner .bannerRightIn{
    position: relative;
    height: 100%;
}

.grocerxApp {
    background-color: #fff;
    padding: 40px 0 50px;
    position: relative;
}
/*.grocerxApp ul li a.active, */
/*.grocerxApp .btnsgroups .nav-tabs .nav-link.active {*/
/*    background: var(--colorWhite);*/
/*    border: 1px solid var(--colorOrange);*/
/*    color: var(--colorOrange);*/
/*}*/




/*New Changes*/
.colorPrimary{
    color: var(--colorPrimary);
}
.sectionContent h1{
    font-size: 49px;
    line-height: 65px;
}
h2.heading {
    font-size: 46px;
    line-height: 55px;
}
.iconLightBg{
    background: var(--colorPrimaryLight);
}
.btnStyle{
    text-align: center;
}
.pageBtn{
    width: 170px;
}
.sectionBtns{
    margin-top: 20px;
}
.sectionBtns li{
    display: inline-block;
    margin-right: 10px;
}
.sectionBtns li:last-child{
    margin-right: 0;
}

.newTabsDesign.nav-tabs .nav-link:hover,
.newTabsDesign.nav-tabs .nav-link.active{
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
}
.dummyMain{
    align-items: center;
}





.sectionContent h1{
    font-size: 49px;
    line-height: 65px;
}
.sectionContent h1,
.sectionContent h2{
    padding-bottom: 20px;
}
.sectionContent p{
    padding-bottom: 20px;
    /*color: var(--colorOffblack);*/
}
.sectionContent2 p{
    padding-right: 60px;
    padding-right: 20%;
}
.sectionContent .subHeadText{
    padding-bottom: 10px;
}
.sectionContent2.sectionContent3 p{
    padding-right: 0;
}


.ShowApp ul li{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 35px
}
.appTabsLists .ShowApp ul li {
    display: inline-flex;
    flex-direction: column;
}
.appTabsLists ul .tAppImg {
    height: 46px;
}
.tAppImg img {
    width: 46px;
}

@media(max-width: 1199px){
    .supportRight {
        width: 460px;
        top: 49px;
    }
    .webpartInner{
        margin-right: 20px;
        width: 23%;
    }
}
@media(max-width: 991px){
    .sectionContent h1 {
        font-size: 44px;
        line-height: 58px;
    }
    .sectionContent h2.heading,
    h2.heading{
        font-size: 40px;
        line-height: 48px;
    }
    .sectionContent p{
        padding-bottom: 16px;
    }
    .sectionContent2 p{
        padding-right: 0;
    }
}

 

@media(max-width: 767px){
    .foodxWorldMain h1 {
        font-size: 29px;
        line-height: 36px;
    }
    .footRight {
        position: relative;
        width: 272px;
    }
    .supportRight {
        position: initial;
        width: 100%;
        padding-top: 20px;
        height: auto;
    }
    .supportLeft {
        width: 100% !important;
    }
    .trustMain {
        padding-top: 30px;
    }
    .trustImg{
        width: 100%;
        position: relative;
        top: 0px;
    }
    .trustTxt{
        padding: 0px 15% 0px;
        position: relative;
        top: -60px;
    }
    .trustBtn {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .priceLeft h2 {
        padding-bottom: 0;
    }
    
    .sectionContent h1, .sectionContent h2, .sectionContent p {
        padding-bottom: 15px;
    }
    .sectionContent h1 {
        font-size: 44px;
        line-height: 57px;
    }
    h2.heading {
        font-size: 40px;
        line-height: 50px;
    }
    
    .sectionContent h1 {
        font-size: 40px;
        line-height: 54px;
    }
    .sectionContent h2.heading,
    h2.heading{
        font-size: 37px;
        line-height: 44px;
    }
    
    
}

@media(max-width: 560px){
    .foodxWorld {
        margin-top: 61px;
        padding-top: 40px;
    }
    /*.foodxWorldMain h2, .foodxWorldMain h1{*/
    /*    padding-top: 25px;*/
    /*}*/
    .webpartInner {
       width: 100%;
       margin-right: 0;
    }
    .trustTxt{
        top: 0;
        padding: 20px 15% 0px;
    }
    .trustMain {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .sectionContent h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .sectionContent h2.heading,
    h2.heading{
        font-size: 33px;
        line-height: 44px;
    }
    .productWebLogo img {
        width: 120px;
    }
    .productWebLogo {
        padding-bottom: 20px;
    }
}
@media(max-width: 414px){
    .surpriseMain{
        flex-direction: column;
    }
    .trustTxt {
        padding: 20px 15px 0px;
    }
    .launchBtn{
        width: 100%;
        margin-top: 20px;
    }
    li.launchBtnGreen {
        width: 41%;
    }
    .sectionContent h1, .sectionContent h2, .sectionContent p {
        padding-bottom: 10px;
    }
}











