.boxs
{
    width: 100%;
    display: block;
    float: left;
}
@font-face{
    font-family:'CircularStd-Regular';
    src:url(../fonts/CircularStd-Regular.otf);
}
@font-face{
    font-family:'CircularStd-Medium';
    src:url(../fonts/CircularStd-Medium.otf);
}
@font-face{
    font-family:'CircularStd-Bold';
    src:url(../fonts/CircularStd-Bold.otf);
}
@font-face{
    font-family:'CircularStd-Book';
    src:url(../fonts/CircularStd-Book.ttf);
}
@font-face{
    font-family:'ProductSans-Regular';
    src:url(../fonts/ProductSans-Regular.ttf);
}
@font-face{
    font-family:'ProductSans-Light';
    src:url(../fonts/ProductSans-Light.ttf);
}
@font-face{
    font-family:'ProductSans-Bold';
    src:url(../fonts/ProductSans-Bold.ttf);
}

:root
{
    /* Font Family */
    --circularRegular: 'CircularStd-Regular';
    --circularMedium: 'CircularStd-Medium';
    --circularBold: 'CircularStd-Bold';
    --circularBook: 'CircularStd-Book';
    --productRegular: 'ProductSans-Regular';
    --productLight: 'ProductSans-Light';
    --productBold: 'ProductSans-Bold';
}





/* Page Banner Start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
}
button:focus{
    outline: none;
    box-shadow: none;
}
.circularRegular{
    font-family: var(--circularRegular);
}
.circularMedium{
    font-family: var(--circularMedium);
}
.circularBold{
    font-family: var(--circularBold);
}
.productRegular{
    font-family: var(--circularRegular);
}
.productBold{
    font-family: var(--productBold);
}
.fontSize64{
    font-size: 64px;
    line-height: 74px;
}
.fontSize44{
    font-size: 44px;
    line-height: 56px;
}
.fontSize34{
    font-size: 32px;
    line-height: 56px;
}
.fontSize32{
    font-size: 32px;
    line-height: 56px;
}
.fontSize30{
    font-size: 30px;
    line-height: 44px;
}
.fontSize28{
    font-size: 28px;
    line-height: 56px;
}
.fontSize26{
    font-size: 26px;
    line-height: 34px;
}
.fontSize24{
    font-size: 24px;
    line-height: 34px;
}
.fontSize22{
    font-size: 22px;
    line-height: 34px;
}
.fontSize21{
    font-size: 21px;
    line-height: 34px;
}
.fontSize20{
    font-size: 20px;
    line-height: 34px;
}
.fontSize18{
    font-size: 18px;
    line-height: 34px;
}
.fontSize16{
    font-size: 16px;
    line-height: 22px;
}

.pageHeader .headerBox{
    float: right;
    display: flex;
    align-items: center;
}
.navbar-toggler{
    display: none;
}
.navbar-brand{
    padding: 0;
    height: auto;
}
.navbar{
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: auto;
    padding: 0;
}
.navbar-default{
    background: transparent;
}
.navbar-default .navbar-nav>li{
    margin-right: 40px;
}
.navbar-default .navbar-nav>li>a{
    color: #a5a5a5;
    font-family: var(--circularBook);
    font-size: 18px;
    line-height: 20px;
}
.pageHeader{
    padding: 22px 0;
    padding: 7.5px 0;
    position: fixed;
    background: #fff;
    z-index: 99;
}
.pageHeader.fixedHeader{
    position: fixed;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
.topSection{
    margin-top: 84px;
}
.container{
    max-width: 1170px;
}



.pageBanner{
    background: #1d1d39;
}
.leadPageBanner .bannerLeft{
    margin-right: 33px;
}
.leadPageBanner .bannerRight{
    width: 444px;
    min-width: 444px;
    padding: 32px 32px;
    background: #fff;
    height: 100%;
}
textarea{
    resize: none;
}
.leadPageBanner .bannerInner{
    display: flex;
}
.colorWhite{
    color: #fff;
}
.leadPageBanner{
    padding: 79px 0 27px;
}
.leadPageBanner .topContent{
    padding-left: 34px;
    position: relative;
    margin-bottom: 10px;
}
.leadPageBanner .topContent p{
    font-family: var(--circularBook);
}
.leadPageBanner .topContent::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 18px;
    left: 0;
    top: 45%;
    background: #fff;
}
.leadPageBanner .topContent p,
.leadPageBanner .bannerHeading h2,
.leadPageBanner .bannerContent p{
    color: #fff;
}
.leadPageBanner .bannerContent p{
    font-size: 24px;
    line-height: 34px;
    font-family: var(--productLight);
    margin-bottom: 20px;
}
.freeQuoteTop h2{
    font-family: var(--productBold);
    color: #000;
}
.highlightText{
    color: #efb759;
}
.leadPageBanner .bannerContent{
    padding-right: 50px;
}
.formStyle .form-control{
    font-size: 18px;
    line-height: 20px;
    font-family: var(--productLight);
    color: #000;
    padding: 19px 28px;
    height: auto;
    background-color: #ececec;
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: none;
}
.formStyle .form-control::placeholder{
    color: #000;
}
.formStyle .form-control:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid #ececec;
}
.formStyle .form-group{
    margin-bottom: 12px;
}
.btmLines{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.btmLines::before{
    width: 142px;
    content: '';
    position: absolute;
    height: 4px;
    background-image: linear-gradient(to right, #ee2d2f, #ee2d2f 42%, #f4792f 106%);
    left: 0;
    bottom: -4px;
}
.btmLines2::before{
    height: 8px;
    background: #ef3a2f;
    width: 157px;
}
.freeQuoteTop p{
    font-family: var(--productLight);
    margin-bottom: 15px;
}

/* Page Banner Start */

.sectionHeadBox{
    margin-bottom: 30px;
}
.sectionHeadBox .sectionHeadTop h2{
    font-family: var(--productBold);
    color: #000;
    font-size: 44px;
    line-height: 56px;
    /* padding-bottom: 30px; */
}
.sectionHeadBox .sectionHeadContent{
    font-family: var(--productLight);
    color: #171717;
    font-size: 20px;
    line-height: 34px;
}
.boxDesignSec{
    padding: 34px 25px;
    border: solid 1px #707070;
    background-color: #fff;
    /* margin-bottom: 24px; */
    height: 100%;
}
.whyHireRight .col-sm-12,
.whyHireLeft .col-sm-12{
    margin-bottom: 24px;
}
.whyHireRight .col-sm-12:last-child,
.whyHireLeft .col-sm-12:last-child{
    margin-bottom: 0;
}
.whyHireRight .boxDesignSec:last-child,
.whyHireLeft .boxDesignSec:last-child{
    /* margin-bottom: 0; */
}
.boxDesignSec2{
    border-color: #c5c5c5;
    margin-bottom: 0;
    height: 100%;
}
.boxDesignSec h4{
    font-family: var(--productBold);
    color: #000;
    margin-bottom: 5px;
}
.boxDesignSec p{
    font-family: var(--productLight);
    color: #171717;
}
.whyHireInner .row{
    display: flex;
}
.whyHireInner .col-sm-4{
    height: auto;
}
.whyHireInner .col-sm-4 .whyHireBox{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.whyHireInner .col-sm-4 .whyHireMid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.midSectionsBox{
    padding: 60px 0 0;
}
.midSecBox{
    margin-bottom: 60px;
}
.whyHireBoxs .cardImageBox{
    margin-bottom: 30px;
}
.cardImageBox span{
    height: 60px;
}
.cardImageBox span img{
    height: 100%;
    width: auto;
    object-fit: contain;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.hireFromInner .row .col-sm-4{
    margin-bottom: 16px;
}
.devSkillsInner .skillListTop{
    margin-bottom: 30px;
}
.devSkillsInner .skillListTop h2{
    font-family: var(--productBold);
    color: #ef3a2f;
    letter-spacing: 5.04px;
}
.devSkillsInner .skillListTop p{
    font-family: var(--productLight);
    color: #171717;
}
.devSkillsInner .skillListSec{
    padding: 45px 40px 44px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.07);
    background-color: var(--white);
    float: left;
}
.devSkillsInner .skillListSec .skillIcon{
    height: 66px;
    margin-bottom: 7px;
    display: block;
}
.devSkillsInner .skillListSec .skillIcon img{
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}
.devSkillsInner .skillsListBox ul li{
    display: inline-block;
    float: left;
    margin-right: 70px;
    text-align: center;
}
.devSkillsInner .skillsListBox ul li:last-child{
    margin-right: 0;
}
.devSkillsInner .skillsListBox ul li .skillType{
    font-size: 22px;
    line-height: 26px;
    font-family: var(--productBold);
    color: #171717;
}
.devSkillsInner .devSkillsSec{
    margin-bottom: 25px;
}
.devSkillsInner .devSkillsSec:last-child{
    margin-bottom: 0;
}
.topDevsBox{
    background: #1d1d39;
    padding: 32px 0 0;
    /* margin-bottom: 60px; */
}
.topDevsBox .topDevsLeft{
    padding: 50px 0px 70px 0px;
}
.topDevsBox .topDevsLeft h3,
.topDevsBox .topDevsLeft p{
    color: #fff;
}
.topDevsBox .topDevsLeft h3{
    font-family: var(--productBold);
    margin-bottom: 20px;
}
.topDevsBox .topDevsLeft p{
    font-family: var(--productLight);
    margin-bottom: 40px;
    padding-right: 75px;
}
.topDevsBox .topDevsInner .row{
    align-items: flex-end;
}
.beyondValueBottom{
    position: relative;
    display: flex;
}
.valCoparison{
    position: absolute;
    content: '';
    height: 122px;
    width: 122px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #ff956b;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
}
.valCoparison span{
    font-size: 44px;
    line-height: 44px;
    font-family: var(--productBold);
    color: #fff;
}
.beyondValueBottom .beyondValueSec{
    width: 49%;
    float: left;
    text-align: center;
    padding: 50px 60px 45px;
    border-radius: 10px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.08);
}
.beyondValueLeft{
    background-image: linear-gradient(to bottom, #ee2d2f, #f4792f);
    margin-right: 10px;
}
.beyondValueRight{
    background-color: #4caf50;
    margin-left: 10px;
}
.beyondValueSec p{
    color: #fff;
    font-family: var(--productLight);
}
.beyondValueSec .costPerHour{
    margin-top: 13px;
}
.beyondValueSec .costPerHour span{
    font-family: var(--productBold);
} 
.clientSaves{
    margin-top: 35px;
}
.clientSaves p{
    font-family: var(--productLight);
    color: #000;
}

.hubOverviewBox .overviewRight {
    display: flex;
    align-items: center;
}
.hubOverviewBox .overviewRight .deliveredProject {
    display: inline-block;
    float: left;
    padding-right: 20px;
    position: relative;
}
.hubOverviewBox .overviewRight .rightOverview {
    display: inline-block;
    float: left;
    border-left: 1px solid #707070;
}
.hubOverviewBox .overviewRight .rightOverview .investmentRaised {
    padding: 20px 0 20px 50px;
    border-top: 1px solid #707070;
}
.hubOverviewBox .overviewRight .rightOverview .developers {
    padding: 20px 0 20px 50px;
}
.hubOverviewBox .overviewRight p{
    font-size: 74px;
    line-height: 74px;
    font-family: var(--productBold);
    color: #000;
    margin-bottom: 5px;
}
.hubOverviewBox .overviewRight span{
    font-size: 17px;
    line-height: 20px;
    font-family: var(--productBold);
    color: #ef3a2f;
}
.hubOverviewBox .overviewLeft{
    padding-left: 50px;
}
.hubOverviewBox .overviewLeft h3{
    font-family: var(--productBold);
    color: #000;
}
.hubOverviewBox .overviewLeft h4{
    font-family: var(--productRegular);
    color: #8d8d8d;
    /* margin-bottom: 25px; */
}
.hubOverviewBox .overviewLeft p{
    font-family: var(--productLight);
    color: #171717;
    margin-bottom: 30px;
}
.secMargin{
    margin-bottom: 60px;
}
.hubOverviewBox .row{
    align-items: center;
}

.ourTeamBox .onDemandInner .onDemandSol {
    display: flex;
    margin-bottom: 30px;
}
.ourTeamBox .onDemandInner .onDemandSol:last-child{
    margin-bottom: 0;
}
.ourTeamBox .onDemandInner .onDemandSol:nth-child(odd) {
    flex-direction: row-reverse;
}
.ourTeamBox .onDemandSol .solRight, 
.ourTeamBox .onDemandSol .solLeft {
    display: inline-block;
    float: left;
    width: 50%;
    height: 297px;
}
.ourTeamBox .onDemandInner .onDemandSol img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ourTeamBox .solLeft .memberDetail{
    margin-top: 20px;
}
.ourTeamBox .solLeft .memberDetail .memberName{
    font-family: var(--productBold);
    color: #ee312f;
}
.ourTeamBox .solLeft .memberDetail .memberDesig{
    font-family: var(--productLight);
    color: #171717;
}
.ourTeamBox .onDemandSol .solRight{
    margin-right: 20px;
}
.ourTeamBox .onDemandSol .solLeft{
    margin-left: 20px;
}
.ourTeamBox .onDemandSol:nth-child(odd) .solLeft {
    margin-left: 0px;
    margin-right: 20px;
}
.ourTeamBox .onDemandSol:nth-child(odd) .solRight{
    margin-right: 0px;
    margin-left: 20px;
}
.ourTeamBox .onDemandSol .solLeft p{
    padding-right: 30px;
}
.topCreationBox .sectionHeadBox .sectionHeadTop h2{
    padding-bottom: 0;
}
.topCreationBox .sectionHeadBox .sectionHeadTop h3{
    /* padding-bottom: 20px; */
    color: #8d8d8d;
    font-family: var(--productRegular);
}
.topCreationBox .slideRight span{
    font-family: var(--productBold);
    color: #ef3a2f;
}
.topCreationBox .slideRight h3{
    font-family: var(--productBold);
    color: #000;
    margin-bottom: 10px;
}
.topCreationBox .slideRight p{
    font-family: var(--productLight);
    color: #171717;
}
.btnMargin{
    margin-top: 30px;
}
.topCreationSlider .row{
    align-items: center;
}
.creationSlider .slick-dots li button:before{
    content: '';
    background: #b5b5b5;
    border-radius: 50%;
    opacity: 1;
}
.creationSlider .slick-dots li.slick-active button:before{
    background: #ef3a2f;
}

.hireforusBox .imageGallery .row{
    margin-right: -5px;
    margin-left: -5px;
}
.hireforusBox .imageGallery .row .col-sm-4,
.hireforusBox .imageGallery .row .col-sm-6{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.hireforusBox .imageGallery .galleryImg{
    height: 100%;
}
.hireforusBox .imageGallery .galleryImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}
.ourSpecaityBox .specialityBox{
    /* width: 75%; */
    margin-bottom: 60px;
}
.ourSpecaityBox .specialityBox .boxTopSec{
    display: flex;
    align-items: center;
}
.ourSpecaityBox .specialityBox .secIcon{
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 18px;
} 
.ourSpecaityBox .specialityBox .secIcon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.ourSpecaityBox .specialityBox .secHead{
    font-family: var(--productBold);
    color: #171717;
    line-height: 26px;
}
.ourSpecaityBox .boxBtmSec{
    margin-top: 15px;
}
.ourSpecaityBox .boxBtmSec p{
    font-family: var(--productRegular);
    color: #171717;
} 
.hireforusBox .ourSpecaityBox .row{
    margin-left: -30px;
    margin-right: -30px;
}
.hireforusBox .ourSpecaityBox .row .col-sm-4{
    padding-left: 30px;
    padding-right: 30px;
}
.readytoHireBox{
    background: #1d1d39;
    padding: 58px 0;
}
.readytoHireBox .readytoHireLeft{
    padding-right: 50px;
}
.readytoHireBox .readytoHireLeft h3,
.readytoHireBox .readytoHireLeft p{
    color: #fff;
}
.readytoHireBox .readytoHireLeft h3{
    font-family: var(--productBold);
    margin-bottom: 10px;
}
.readytoHireBox .readytoHireLeft p{
    font-family: var(--productLight);
}
.readytohireRight .compDone{
    margin-bottom: 30px;
    text-align: center;
}
.readytohireRight .compDone:last-child{
    margin-bottom: 0;
}
.readytohireRight .compDone h3{
    color: #fff;
    font-family: var(--productBold);
} 
.readytohireRight .compDone span{
    color: #ef3a2f;
    font-family: var(--productRegular);
    text-transform: uppercase;
}
.readytohireRight .compAnalysisRight{
    margin-top: 50px;
}
.readytohireRight .compAnalysisRight .compDone{
    margin-bottom: 60px;
}
.readytohireRight .compAnalysisRight .compDone:last-child{
    margin-bottom: 0;
}
.compAnalysisTable table{
    width: 100%;
}
.compAnalysisTable table tr th,
.compAnalysisTable table tr td{
    font-size: 24px;
    line-height: 34px;
    font-family: var(--productBold);
}
.compAnalysisTable table tr th{
    background: #e6e6e6;
    width: 25%;
    text-align: center;
    padding: 34px 28px 24px 28px;
    height: 121px;
    min-height: 121px;
    border: 1px solid #707070;
}
.compAnalysisTable table tr th:first-child{
    background: transparent;
    border: none;
}
.compAnalysisTable table tr td{
    color: #6e6e6e;
    background: #e6e6e633;
    width: 25%;
    text-align: center;
    padding: 28px 13px 24px 13px;
    border: 1px solid #707070;
}
.compAnalysisTable table tr td:first-child{
    color: #171717;
    text-align: left;
    padding: 28px 15px 24px 24px;
}
.hiringModalBox .hiringMethods .methodsIcon{
    margin-bottom: 22px;
}
.hiringModalBox .hiringMethods .methodsIcon span{
    height: 60px;
    display: inline-block;
}
.hiringModalBox .hiringMethods .methodsIcon span img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.hiringModalBox .hiringMethods .methodsBoxs{
    border: solid 1px #c5c5c5;
    background-color: var(--white);
    padding: 33px 26px;
    height: 100%;
}
.hiringModalBox .hiringMethods .methodsHeading{
    margin-bottom: 8px;
}
.hiringModalBox .hiringMethods .methodsHeading h4{
    font-family: var(--productBold);
    color: #000;
}
.hiringModalBox .hiringMethods .methodsContent{
    margin-bottom: 20px;
}
.hiringModalBox .hiringMethods .methodsContent p{
    font-family: var(--productLight);
    color: #171717;
}
.hiringModalBox .methodsLists ul li{
    font-family: var(--productLight);
    color: #171717;
    position: relative;
    padding-left: 40px;
    margin-bottom: 13px;
}
.hiringModalBox .methodsLists ul li:last-child{
    margin-bottom: 0;
}
.hiringModalBox .methodsLists ul li:before{
    position: absolute;
    content: '';
    background-image: url('../img/checkIcon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 29px;
    width: 29px;
    left: 0;
}

.gainedByComp{
    background: #1d1d39;
    padding: 60px 0;
}
.gainedByComp .sectionHeadTop h2{
    color: #fff;
    padding: 0 100px 10px;
}
.gainedByComp .btmLines2::before{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.gainedByComp .awardsListBox .row{
    margin-left: -2px;
    margin-right: -2px;
}
.gainedByComp .awardsListBox .row .col-sm-3{
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
}
.gainedByComp .awardsListBox .awardBoxInner{
    background: #fff;
    height: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.gainedByComp .awardsListBox .awardBoxInner img{
    height: 100%;
    object-fit: contain;
}

.faqSectionsBox .faqsSecList .faqHeading a{
    font-size: 24px;
    line-height: 34px;
    font-family: var(--productLight);
    color: #171717;
    text-decoration: none;
    display: flex;
    cursor: pointer;
}
.faqSectionsBox .faqsSecList .faqContent{
    display: none;
    margin-top: 5px;
}
.faqSectionsBox .faqSecHeading{
    margin-bottom: 25px;
}
.faqSectionsBox .faqSecHeading h4{
    font-family: var(--productBold);
    color: #ef3a2f;
}
.faqSectionsBox .faqContent p{
    font-size: 18px;
    line-height: 28px;
    color: #171717;
    font-family: var(--productLight);
}
.faqSectionsBox .faqsQuest{
    margin-bottom: 15px;
}
.faqSectionsBox .faqsQuest .faqHeading span{
    display: inline-block;
}
.faqSectionsBox .faqsQuest .faqHeading .faqToggleIcon{
    height: 28px;
    width: 28px;
    min-width: 28px;
    border: 2px solid #ef3a2f;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faqSectionsBox .faqsQuest .faqHeading .faqToggleIcon i{
    font-size: 15px;
    color: #ef3a2f;
}
.faqSectionsBox .faqContent{
    padding-left: 40px;
}
.faqsSecBoxs .faqsInnerSec{
    margin-bottom: 40px;
}
.faqsSecBoxs .faqsInnerSec:last-child{
    margin-bottom: 0;
}
.ourServicesBox .servImageIcon{
    height: 83px;
    width: 83px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.ourServicesBox .servImageIcon img{
    height: 100%;
    width: 100%;
}
.ourServicesBox .serviceListInfo h3{
    font-family: var(--productBold);
    color: #000;
    margin-bottom: 5px;
}
.ourServicesBox .serviceListInfo p{
    font-family: var(--productLight);
    color: #171717;
}
.freeProposalBox{
    background: #1d1d39;
    padding: 60px 0;
}
.freeProposalBox .formHeading h3{
    text-transform: uppercase;
    color: #ef3a2f;
    font-family: var(--productBold);
}
.propFormLeft ul li{
    position: relative;
    margin-bottom: 25px;
    font-family: var(--productLight);
    color: #fff;
    padding-left: 38px;
}
.propFormLeft ul li::before{
    position: absolute;
    content: '';
    background-image: url('../img/checkIcon2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 29px;
    width: 29px;
    left: 0;
}
.formStyle2 .form-control{
    background: #fff;
    font-size: 20px;
    line-height: 20px;
}
.formStyle2 .form-control::placeholder{
    color: #5a5a5a;
}
.propFormRight .form-group{
    margin-bottom: 20px;
}
.propFormRight .row{
    margin-left: -5px;
    margin-right: -5px;
}
.propFormRight .col-sm-6,
.propFormRight .col-sm-12{
    padding-left: 5px;
    padding-right: 5px;
}
.propFormRight .weGuarantee{
    margin: 10px 0 30px;
}
.propFormRight .weGuarantee p{
    font-family: var(--productLight);
    color: #fff;
}
.btnStyle5{
    clip-path: polygon(0% 100%, 0% 0%, 90% 0%, 100% 100%);
    padding: 32px 20px;
    background: #ef6c38;
}
.propFormRight button{
    width: 100%;
    font-size: 23px;
    line-height: 24px;
    font-family: var(--productLight);
    color: #fff;
    border: 1px solid #ef6c38;
}
.propFormRight .getnTouchBox{
    margin-bottom: 25px;
}
.propFormRight .getnTouchBox h4{
    font-family: var(--productBold);
    color: #fff;
}
.freeProposalInner .formHeading{
    margin-bottom: 30px;
}
.freeProposalInner .propFormLeft{
    margin-top: 60px;
}
.footBtmBoxs .footBtmSec{
    display: flex;
    justify-content: space-between;
}
.footBtmBoxs .footBtmSecs h5{
    text-transform: uppercase;
    font-family: var(--productBold);
    color: #000;
}
.footBtmBoxs .secMid ul li{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.footBtmBoxs .secMid ul li:last-child{
    margin-right: 0;
}
.footBtmBoxs .secMid ul li a{
    height: 100%;
    width: 100%;
    display: inline-block;
}
.footBtmBoxs .secLeft ul li{
    height: 60px;
    width: 60px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.footBtmBoxs .secLeft ul li:last-child{
    margin-right: 0;
}
.footBtmSecs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footBtmBoxs{
    padding: 50px 0;
    background: #e8e8e8;
}
.hiringPosts{
    margin: 60px 0;
}
.hiringPosts .hirePostHeding{
    position: relative;
    margin-bottom: 30px;
}
.hiringPosts .hirePostHeding:before{
    position: absolute;
    content: '';
    height: 4px;
    width: 104px;
    background: #ef3a2f;
    left: 0;
    bottom: 0;
}
.hiringPosts .hirePostHeding h4{
    margin-bottom: 13px;
    font-family: var(--productBold);
    color: #000;
}
.hiringPosts .hirePostLists ul li{
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--productLight);
    color: #171717;
    margin-right: 10px;
    margin-bottom: 15px;
}
.hiringPosts .hireSoftwareTeam ul li{
    width: 31%;
}
.hiringPosts .softwareDevTeam ul li{
    width: 47%;
}
.hiringPosts .softwareSols ul li{
    width: 100%;
    margin-right: 0;
}
.mainFootBox .mainFootLeft{
    display: inline-block;
    float: left;
}
.mainFootBox .mainFootRight{
    float: right;
}
.mainFootBox .mainFootLeft p{
    font-family: var(--productLight);
    color: #171717;
    line-height: 24px;
}
.mainFootBox .mainFootLeft span{
    font-family: var(--circularMedium);
}
.mainFootBox{
    background: #e8e8e8;
    padding: 44px 0;
}
.mainFootBox .mainFootRight ul li{
    display: inline-block;
    float: left;
    margin-right: 60px;
}
.mainFootBox .mainFootRight ul li:last-child{
    margin-right: 0;
}
.btnStyle{
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: var(--productRegular);
    color: #fff;
    padding: 16px;
    border-radius: 2px;
    background: transparent;
    display: inline-block;
}
.btnStyle:hover{
    color: #fff;
}
.btnStyleRed{
    border: solid 3px #ef3a2f;
    color: #ef3a2f;
    padding: 13px 13px;
}
.btnStyleRed:hover{
    color: #ef3a2f;
}
.btnStyleRed2{
    color: #fff;
}
.btnStyleRed2:hover{
    color: #fff;
}
.requestFormBtn button{
    background-image: linear-gradient(to right, #ee2d2f, #f4792f);
}
.btnStyle span{
    display: inline-block;
    float: right;
    margin-left: 6px;
}
.topCreationSlider .slick-initialized .slick-slide{
    margin: 0 3px;
}
.btnStyle.headBtn{
    border: solid 1px #f4792f;
    font-size: 14px;
    line-height: 14px;
    color: #f4792f;
    font-family: var(--circularBook);
    padding: 12px 10px;
}
.btnStyle.headBtn:hover{
    color: #fff;
    background: #f4792f;
}
a,
a:hover{
    text-decoration: none;
}
.uploadFiles input{
    display: none;
}
.uploadFiles label{
    font-size: 18px;
    line-height: 20px;
    font-family: var(--productLight);
    color: rgba(0,0,0,0.7);
    padding: 13px 15px;
    margin-bottom: 0;
    border: 1px dotted #707070;
    margin-bottom: 10px;
    cursor: pointer;
}
.requestForm .formStyle textarea{
    height: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.hiringModalInner .hiringMethods .row{
    margin-left: -7px;
    margin-right: -7px;
}
.hiringModalInner .hiringMethods .row .col-sm-4{
    padding-left: 7px;
    padding-right: 7px;
}
.hiringPosts .hiringPostInner .row{
    margin-left: -9px;
    margin-right: -9px;
}
.hiringPosts .hiringPostInner .row .col-sm-6,
.hiringPosts .hiringPostInner .row .col-sm-4,
.hiringPosts .hiringPostInner .row .col-sm-2{
    padding-left: 9px;
    padding-right: 9px;
}
.hireEasyStepsBox .easyStepList{
    padding: 55px 15px 15px;
    background: #1d1d39;
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.hireEasyStepsBox .easyStepList .easyStepInner{
    padding: 40px 15px 20px 15px;
    background: #fff;
    border-radius: 10px;
    height: 100%;
}
.hireEasyStepsBox .easyStepList .easyStepImage{
    height: 87px;
    margin-bottom: 20px;
}
.hireEasyStepsBox .easyStepList .easyStepImage img{
    height: 100%;
    object-fit: contain;
}
.hireEasyStepsBox .easyStepList .easyStepContent p{
    font-family: var(--productBold);
    color: #000;
}
.hireEasyStepsBox .easyStepList .easyStepContent p span{
    color: #ef3a2f;
}
.hireEasyStepsBox .stepCount{
    position: absolute;
    content: '';
    top: 15px;
    right: 15px;
    font-size: 24px;
    line-height: 24px;
    font-family: var(--productBold);
    color: #fff;
}
.hireEasyStepsBox .row{
    margin-left: -10px;
    margin-right: -10px;
}
.hireEasyStepsBox .row .col-sm-3{
    padding-left: 10px;
    padding-right: 10px;
}
.pageHeader .navbar.navbar-expand-md{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.pageHeader .headRight{
    display: flex;
}
.pageHeader .navbar-expand-md .navbar-nav .nav-link{
    padding: 0;
}
.whyHireSec .whyHireInner .row,
.whyHireSec .whyHireRight .row,
.whyHireSec .whyHireLeft .row{
    margin-left: -10px;
    margin-right: -10px;
}
.whyHireSec .whyHireInner .row .col-sm-4,
.whyHireSec .whyHireRight .row .col-sm-12,
.whyHireSec .whyHireLeft .row .col-sm-12{
    padding-left: 10px;
    padding-right: 10px;
}
.hireFromBox .hireFromInner .row{
    margin-left: -8px;
    margin-right: -8px;
}
.hireFromBox .hireFromInner .col-sm-4{
    padding-left: 8px;
    padding-right: 8px;
}
.topCreationSlider .slideLeft img{
    width: 100%;
}


/* Sidenav Start */

.navIcon
{
    position: absolute;
    height: 3px;
    width: 30px;
    right: 0px;
    top: 50%;
    background: #ef3a2f;
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navIcon::before
{
    position: absolute;
    content: '';
    top: -8px;
    left: 0;
    height: 3px;
    width: 30px;
    background: #ef3a2f;
    transition: all 0.3s ease;
}
.navIcon::after
{
    position: absolute;
    content: '';
    top: 8px;
    left: 0;
    height: 3px;
    width: 30px;
    background: #ef3a2f;
    opacity: 1;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.navbar-toggler.active .navIcon:before
{
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.navbar-toggler.active .navIcon
{
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar-toggler.active .navIcon::after
{
    top: 0px;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-expand-md .navbar-toggler {
    background: transparent;
    border: none;
    padding: 0;
}
.menuLogo
{
    display: none;
}
/* Sidenav End */